.header {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #150E28;
    padding: 0 6rem;
    position: fixed;
    z-index: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);

}
.header-list {
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 400;
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 769px){
       display: none;
      }
}
.header-item {
    margin-left: 2rem;
}
.header-1 {
    font-size: 36px;
    line-height: 44.28px;
    font-weight: 700;
    font-family: 'Clash Display' sans-serif;
    color: #FFFFFF;
}
.header-1-span {
    color: #D434FE;
}
.header-item-2 {
    width: 172px;
    height: 53px;
    background-image: linear-gradient(to right bottom, #D434FE, #903aff);
    text-align: center;
    border-radius: 4px;
    padding-top: 18px;
}
.header-link {
    text-decoration: none;
    color: #FFFFFF;
    
}
.open {
   color: #FFFFFF;
   font-size: 4rem;
   cursor: pointer;
}
.close {
    color: #FFFFFF;
    font-size: 4rem;
    margin-left: 26rem;
    cursor: pointer;
    
}
.header-lists{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.header-items {
    margin-bottom: 2rem;
    font-size: 18px;
    line-height: 21.78px;
}
.ham-div {
    padding: 25rem 0 2rem 2rem;
    width: 338px;
    height: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #150E28;
    
}