.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.sponsor-header {
    font-size: 32px;
    line-height: 27.5px;
    font-weight: 700;
    font-family: 'Clash Display' sans-serif;
    margin-bottom: 1rem;
    @media(max-width: 769px){
        font-size: 20px;
        text-align: center;
    }
}
.sponsor-text {
    font-size: 14px;
    line-height: 27.5px;
    font-weight: 400;
    margin-bottom: 3rem;
    text-align: center;
    width: 452px;
    height: 55px;
    @media(max-width: 769px){
        font-size: 12px;
        width: 286px;
        height: 62px;
    }
}
.sponsor-img {
    width: 100%;
    @media(max-width: 769px){
      width: 333px;
      height: 148.59px;
    }
}
.section-hidden {
    opacity: 0;
    transform: translateY(12rem);
}