.footer {
    background-color: #100B20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 5rem 0 5rem;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    @media(max-width: 769px){
        padding: 3rem 0 0 5rem;
    }
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 769px){
        flex-direction: column;
        align-items: flex-start;
    }
    
}
.footer-bottom {
    text-align: center;
    margin-top: 4rem;
    @media(max-width: 769px){
        text-align: start;
    }
}
.footer-bottom-header {
    font-size: 12px;
    line-height: 14.63;
    font-weight: 400;
}
.footer-top-header {
    font-size: 30px;
    line-height: 36.9px;
    font-weight: 700;
    font-family: 'Clash Display' sans-serif;
}
.footer-top-span {
    color: #D434FE;
    margin-bottom: 1rem;
}
.footer-top-text {
    font-size: 12px;
    line-height: 20.69px;
    font-weight: 400;
    margin-top: 2rem;
    width: 412px;
    height: 63px;

    @media(max-width: 769px){
        width: 271px;
        height: 105px;
    }


}
.footer-top-header2 {
    font-size: 12px;
    line-height: 20.69px;
    font-weight: 400px;
}
.footer-top-div2 {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20.69px;
    font-weight: 400;
    margin-top: 10rem;
    @media(max-width: 769px){
        margin: 2rem 0;
    }
}
.footer-top-div3 {
    height: 35px;
    width: 4px;
    background-color: #D434FE;
    margin: 0 1.5rem;
    
}
.footer-top-header4 {
    color: #D434FE;
    font-size: 14px;
    line-height: 24.14px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-top-list {
    list-style: none;
}
.footer-top-item {
    font-size: 12px;
    line-height: 20.69px;
    margin-bottom: 2rem;
}
.footer-link {
    text-decoration: none;
    color: #D434FE;
}
.footer-top-div5 {
    display: flex;
    align-items: center;
    @media(max-width: 769px){
        margin: 2rem 0;
    }
}
.footer-top-header5 {
    font-size: 12px;
    line-height: 14.63px;
    color: #D434FE;
}
.footer-top-imgs {
    margin-left: 1rem;
    cursor: pointer;
}
.footer-top-header6 {
    color: #D434FE;
    font-size: 14px;
    line-height: 24.14px;
    font-weight: 600;
    margin-bottom: 2rem;
    @media(max-width: 769px){
        margin: 2rem 0;
    }
}
.footer-top-div7 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer-top-header7 {
    margin-left: 2rem;
    font-size: 12px;
    line-height: 18.95px;
    font-weight: 400;
}
.section-hidden {
    opacity: 0;
    transform: translateY(12rem);
}